<h1>Make your form here</h1>
<form action = '/pirates' method= 'POST'>
  <h1>Pirates</h1>
 <label >Pirate Name:
 <input id="pirate_name" type="text" name="pirate[name]" >
 </label>
 <label >Pirate Weigth:
 <input id="pirate_weight" type="text" name="pirate[weight]" >
 </label>
 <label >Pirate Height:
 <input id="pirate_height" type="text" name="pirate[height]" >
 </label>
  <h1>Ships</h1>
  <label >Ship Name:
 <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
 </label>
 <label >Ship Type:
 <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
 </label>
 <label >Ship Booty:
 <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >
 </label>
  <label >Ship Name:
 <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
 </label>
 <label >Ship Type:
 <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
 </label>
 <label >Ship Booty:
 <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >
 </label>
 <input type="submit" value="Submit">
</form>
